@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

:root {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;

	background-color: #181818;
	color: #eee;

	@media screen and (max-width: 800px) {

		html {
			max-width: 100%;
			// overflow-x: hidden;
	
		}
	}
}

select, input {
	font-family: 'Rubik', sans-serif;

	background-color: #333;
	color: #eee;

	&[disabled] {
		background-color: #444;
		color: #888;
	}
}


dl {
	display: grid;
	grid-template-columns: 150px 1fr;

	margin-top: 0px;
}

dt {

	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

dd {
	margin-inline-start: 10px;
}