@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

:root {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;

	background-color: #181818;
	color: #eee;

	@media screen and (max-width: 800px) {

		html {
			max-width: 100%;
			// overflow-x: hidden;
	
		}
	}

	--zindex-sticky: 1;
	--zindex-overlay: 10;
}

select, input {
	font-family: 'Rubik', sans-serif;

	background-color: #333;
	color: #eee;

	&[disabled] {
		background-color: #444;
		color: #888;
	}
}


dl {
	display: grid;
	grid-template-columns: 150px 1fr;

	margin-top: 0px;
}

dt {

	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

dd {
	margin-inline-start: 10px;
}


div.breakdown {
	display: grid;
	grid-template-columns: 1fr 80px 500px;

	max-width: 800px;

	@media screen and (max-width: 800px) {
		grid-template-columns: auto 80px;

		max-width: 100%;

		.graph, .subItem {
			grid-column: span 2;
		}
	}

	.itemName {
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

	}

	.qty {
		text-align: right;
		margin-right: 10px;
	}

	.subItem {
        grid-column: span 3;

		@media screen and (max-width: 800px) {
			grid-column: span 2;
		}

        $divider: 1px solid #ccc;

        border-top: $divider;
        border-bottom: $divider;

        margin-bottom: 4px;
        margin-left:24px;
    }
}